<div class="content">
    <h4 class="text-start"> Experiencia </h4>
    <div *ngIf="logeado()" class="text-center">
        <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
            <a class="nav-link" style="color: #fff">
                <h6>Agregar experiencia </h6><span class="sr-only">(current)</span>
            </a>
        </button>
    </div>
    <div id="main-container">
        <div class="aling-items" *ngFor="let experience of experiences">
            <div class="container">
                <div class="position-relative">
                    <div class="row">
                        <div class="col">
                            <div *ngIf="logeado()" class="position-absolute top-0 end-0">
                                <a (click)="onOpenModal('edit',experience)" class="btn btn-primary tooltips"
                                    data-placement="top" data-toogle="tooltips" data-original-title="Edit">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a (click)="onOpenModal('delete',experience)" class="btn btn-danger tooltips"
                                    data-placement="top" data-toogle="tooltips" data-original-title="Delete">
                                    <i class="bi bi-x-square"></i>
                                </a>
                            </div>
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{experience.photoExperience}}" alt="" width="150">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">{{experience.titleExperience}}</h5>
                                            <p class="card-text">{{experience.startDateExperience}}</p>
                                            <p class="card-text">{{experience.finishDateExperience}}</p>
                                            <h6 class="card-text">{{experience.descriptionExperience}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="experiences?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </div>
    </div>
</div>


<div class="modal fade" id="addExperienceModal" tabindex="-1" role="dialog" aria-labelledby="addExperienceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExperienceModalLabel">Agregar experiencia</h5>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddExperience(addForm)">
                    <div class="form-group">
                        <label for="titleExperience">Nombre de la empresa/emprendimiento</label>
                        <input type="text" ngModel name="titleExperience" class="form-control" id="titleExperience"
                            placeholder="Nombre" required />
                    </div>
                    <div class="form-group">
                        <label for="startDateExperience">Fecha de inicio</label>
                        <input type="date" ngModel name="startDateExperience" class="form-control"
                            id="startDateExperience" placeholder="Fecha de inicio" required />
                    </div>
                    <div class="form-group">
                        <label for="finishDateExperience">Fecha de finalización</label>
                        <input type="date" ngModel name="finishDateExperience" class="form-control"
                            id="finishDateExperience" placeholder="Fecha de inicio" required />
                    </div>
                    <div class="form-group">
                        <label for="descriptionExperience">Descripción</label>
                        <input type="text" ngModel name="descriptionExperience" class="form-control"
                            id="descriptionExperience" placeholder="Descripción" required />
                    </div>
                    <div class="form-group">
                        <label for="photoExperience">Logo</label>
                        <input type="text" ngModel name="photoExperience" class="form-control" id="photoExperience"
                            placeholder="URL" required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-experience-form" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                            Agregar experiencia
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editExperienceModal" tabindex="-1" role="dialog" aria-labelledby="experienceEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateExperienceModalLabel">
                    Editar experiencia {{ editExperience?.titleExperience}}
                </h5>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="titleExperience">Titulo</label>
                        <input type="text" ngModel="{{ editExperience?.titleExperience}}" name="titleExperience"
                            class="form-control" id="titleExperience" aria-describedby="emailHelp"
                            placeholder="Titulo" />
                    </div>
                    <input type="hidden" ngModel="{{ editExperience?.idExperience }}" name="idExperience"
                        class="form-control" id="idExperience" placeholder="" />
                    <div class="form-group">
                        <label for="descriptionExperience">Description experiencia</label>
                        <input type="text" ngModel="{{ editExperience?.descriptionExperience}}"
                            name="descriptionExperience" class="form-control" id="descriptionExperience"
                            placeholder="descripcion" />
                    </div>
                    <div class="form-group">
                        <label for="startDateExperience">Fecha de inicio</label>
                        <input type="date" ngModel="{{editExperience?.startDateExperience}}" name="startDateExperience"
                            class="form-control" id="startDateExperience" placeholder="Fecha de inicio" />
                    </div>
                    <div class="form-group">
                        <label for="finishDateExperience">Fecha de finalización</label>
                        <input type="date" ngModel="{{editExperience?.finishDateExperience}}"
                            name="finishDateExperience" class="form-control" id="finishDateExperience"
                            placeholder="finalización" />
                    </div>
                    <div class="form-group">
                        <label for="photoExperience">Image URL</label>
                        <input type="text" ngModel="{{ editExperience?.photoExperience }}" name="photoExperience"
                            class="form-control" id="photoExperience" placeholder="Image URL" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                            Cerrar
                        </button>
                        <button (click)="onUpdateExperience(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">
                            Guardar cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteExperienceModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Borrar Experiencia</h5>
            </div>
            <div class="modal-body">
                <p>
                    Está seguro que desea borrar
                    {{ deleteExperience?.titleExperience }}?
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        No
                    </button>
                    <button (click)="onDeleteExperience(deleteExperience!.idExperience)" class="btn btn-danger"
                        data-dismiss="modal">
                        Si
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>